body {
  background-image: url(unnamed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 50px;
    text-decoration: none;
  text-dcoration: overline;
  font-family: cursive;
}
ul{
  list-style-type: none;
}
li::before{
  content: "⚝"
}
a{
 text-decoration: none;
}

@media(max-width:1000px)
  #d{
  text-align: center;
    text-decoration: overline;
}
