body {
  background-image: url(unnamed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 50px
}
ul{
  list-style-type: none;
}
li::before{
  content: "☆"
}
@media(max-width:1000px)
  #d{
  text-align: center;
}
