a {
  text-decoration: none;
}
.logo {
  width: 500px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.logo li {
  float: left;
  width: 20%;
  height: 80px;
  border: 1px solid #ddd;
  margin: -1px -1px 0 0;
  padding: 10px;
  text-align: center;
  position: relative;
}
.logo li img {
  max-width: 80%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.logo li:nth-child(2),
.logo li:nth-child(4),
.logo li:nth-child(5),
.logo li:nth-child(7),
.logo li:nth-child(10),
.logo li:nth-child(12) {
  background: rgb(189, 187, 187);
}
